@import "~bulma";
@import "~bulma-timeline";

.navbar {
  border-bottom: 1px solid #eee;
  margin-bottom: 8px;
}

.content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  > a {
    padding: 0 0.25em;
  }
}

.gh-username {
  display: flex;
  align-items: center;
  width: auto;

  img {
    width: 32px;
  }

  a {
    padding: 0 0.25em;
  }
}

#profile-bio {
  margin-top: 10px;
}

.timeline .timeline-item {
  padding-bottom: 1em;
}
