@import "bulma";
@import "bulma-timeline";
@import "./media.scss";

.navbar {
  border-bottom: 1px solid #eee;
  margin-bottom: 8px;
}

.profile-container {
  @include desktop {
    width: 30%;
  }
  @include tablet {
    width: 50%;
  }
  @include phone {
    width: 100%;
  }
}

.content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  > a {
    padding: 0 0.25em;
  }
}

.gh-username {
  display: flex;
  align-items: center;
  width: auto;

  img {
    width: 32px;
  }

  a {
    padding: 0 0.25em;
  }
}

#profile-bio {
  margin-top: 10px;
}

.timeline .timeline-item {
  padding-bottom: 1em;
}
